<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Emp To Dept Table</h1>


        <table border="3px">

            <tr>
                <th>Emp no</th>
                <th>Emp Name</th>
                <th>Emp SAL</th>
                <th>Emp JOB</th>
                <th>Emp MGR</th>

                <th>EMP comm</th>
                
                <th>MGR no</th>
                <th>MGR Name</th>
                <th>MGR SAL</th>
                <th>MGR JOB</th>
                <th>MGR MGR</th>

                
            </tr>
            
            {% for row in QSLEMO %}
            <tr>
                <td>{{ row.emp_no }}</td>
                <td>{{ row.ename }}</td>
                <td>{{ row.sal }}</td>
                <td>{{ row.job }}</td>
                <td>{{ row.mgr }}</td>

                <td>{{ row.comm }}</td>

                <td>{{ row.mgr.emp_no }}</td>
                <td>{{ row.mgr.ename }}</td>
                <td>{{ row.mgr.sal }}</td>
                <td>{{ row.mgr.job }}</td>
                <td>{{ row.mgr.mgr }}</td>

            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>