{% extends 'base.html' %}
{% block title %}

    <title>Change password page</title>

    {% endblock %}

{% block body_block%}
    <center>

            <h1>Change password  </h1>

            <form  method="POST">
                {% csrf_token %}

                

                <label for="cp">New Password</label>
                <input type="password" name="cp" id="cp">

                <br><br>

                <input type="submit" value="Change password  ">


            </form>


    </center>
    

    {% endblock %}