{% extends 'base.html' %}
{% block title %}

    <title>Reset password page</title>

    {% endblock %}

{% block body_block%}
    <center>
            
        <h1>Reset Password</h1>

        <form method="POST">
            {% csrf_token %}


            <label for="username">Username : </label>
            <input type="text" name="username" id="username">
            <br><br>

            <label for="cp">New Password</label>
            <input type="password" name="cp" id="cp">

            <br><br>
            <input type="submit" value="Reset Password ">
        </form>

    </center>
    

    {% endblock %}