{% extends 'app/dummy.html' %}



{% block title %}

    <title>School Detail page</title>

{% endblock%}



{% block body_block %}

    <center>
        <h1>
            Details of {{schoolobject}}
        </h1>
        <hr>

        <h2>School name is : {{schoolobject.school_name}} </h2>
        <h2>Location name is : {{schoolobject.slocation}} </h2>
        <h2>Principal name is : {{schoolobject.sprincipal}} </h2>

        <hr>
        <hr>
        
        <h1>Details of students </h1>
        {% for student in schoolobject.students.all %}

            <h4>Student Name= {{student.sname}}</h4>
            <h4>Student age = {{student.sage}}</h4>

            <hr>
            <hr>

        {% endfor %}

        <h1>
            <a href="{% url 'School_Update' pk=schoolobject.pk %}">Edit </a>
        </h1>

        <h1>
            <a href="{% url 'School_Delete' pk=schoolobject.pk %}">Delete </a>
        </h1>
    </center>

{% endblock %}

    
