{% extends 'app/dummy.html' %}



{% block title %}

    <title>School Form page</title>

{% endblock%}



{% block body_block %}

    <center>

        {% if form.instance.pk %}
        <h1>
           Update School : {{schoolobject}}
        </h1>
        {% else %}
        <h1>
           Create New  School 
        </h1>
        {% endif %}
        <hr>

        <form  method="POST">

            {% csrf_token %}
            
            {{form.as_p}}

            

            {% if form.instance.pk %}
        
           <input type="submit" value="Update School">

       
            {% else %}
            
            <input type="submit" value="Add School">
            {% endif %}
           


        </form>

        <hr>
        <hr>
        
        
    </center>

{% endblock %}

    
