<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Multiple Select</h2>
        <form method="POST" action="{%url 'multipleSelect' %}">
            {% csrf_token %}
            <label for="tn">Select Check BOX of  Topics :</label>
            <br>
                {% for To in QLTO %}
                    <label for="tn">{{To.topic_name}}</label>
                    <input type="checkbox" name="topic" id="" value="{{To.topic_name}}">
                    <br><br>
                {% endfor %}
           
            <br><br>
            <input type="submit" >
        </form>
    </center>
</body>
</html>